html {
    font: 5vmin/1.3 Serif;
    overflow: hidden;
    background: #123;
}

body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    font-size: 52px;
    color: transparent;
}

a {
    color: #00f;
    margin: 0 10px;
    text-decoration: none;
}

#animation-container {
    width: 100%;
    height: 60%;
}

body::before,
body::after,
head::before,
head::after {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 3em;
    height: 3em;
    content: '.';
    mix-blend-mode: screen;
    animation: 44s -27s move infinite ease-in-out alternate;
}

body::before {
    text-shadow:
        2209802249.5em 3459641543.5em 7px rgba(0, 0, 0, .9),
        4825195472.5em 2908782275.5em 7px rgba(0, 0, 0, .9),
        2797361237.5em 5967351977.5em 7px rgba(0, 0, 0, .9),
        70999130.5em 5112197978.5em 7px rgba(0, 0, 0, .9),
        2586035846.5em 2302064675.5em 7px rgba(0, 0, 0, .9),
        3736814312.5em 420689060.5em 7px rgba(0, 0, 0, .9),
        755911106.5em 3335621636.5em 7px rgba(0, 0, 0, .9),
        5774063984.5em 2734883975.5em 7px rgba(0, 0, 0, .9),
        3926992364.5em 4454131280.5em 7px rgba(0, 0, 0, .9),
        5668329653.5em 4355107592.5em 7px rgba(0, 0, 0, .9),
        1170387356.5em 3174565226.5em 7px rgba(0, 0, 0, .9),
        846305903.5em 3223824605.5em 7px rgba(0, 0, 0, .9),
        1433814209.5em 6121560692.5em 7px rgba(0, 0, 0, .9),
        585672860.5em 942656888.5em 7px rgba(0, 0, 0, .9),
        638891222.5em 3511185167.5em 7px rgba(0, 0, 0, .9),
        1091846414.5em 1476263735.5em 7px rgba(0, 0, 0, .9),
        3755797163.5em 4364201840.5em 7px rgba(0, 0, 0, .9),
        4997621168.5em 1741480262.5em 7px rgba(0, 0, 0, .9),
        5919625541.5em 4232400104.5em 7px rgba(0, 0, 0, .9),
        382449800.5em 4481436419.5em 7px rgba(0, 0, 0, .9),
        6375918041.5em 1121893124.5em 7px rgba(0, 0, 0, .9),
        5811886634.5em 4839064301.5em 7px rgba(0, 0, 0, .9),
        1212037370.5em 4533592781.5em 7px rgba(0, 0, 0, .9),
        1893921992.5em 3078194990.5em 7px rgba(0, 0, 0, .9),
        1274453897.5em 6079042040.5em 7px rgba(0, 0, 0, .9),
        1616922371.5em 5361014969.5em 7px rgba(0, 0, 0, .9),
        5683084922.5em 5430137318.5em 7px rgba(0, 0, 0, .9),
        4883997479.5em 5397670979.5em 7px rgba(0, 0, 0, .9),
        1838005319.5em 2099904551.5em 7px rgba(0, 0, 0, .9),
        3741594149.5em 5524146347.5em 7px rgba(0, 0, 0, .9),
        5450367494.5em 2710437989.5em 7px rgba(0, 0, 0, .9),
        3241212878.5em 4395710960.5em 7px rgba(0, 0, 0, .9),
        4548915524.5em 4613756939.5em 7px rgba(0, 0, 0, .9),
        3501800630.5em 4035468809.5em 7px rgba(0, 0, 0, .9),
        5508122780.5em 1044445487.5em 7px rgba(0, 0, 0, .9),
        1789816877.5em 3321158918.5em 7px rgba(0, 0, 0, .9),
        5891474591.5em 52856912.5em 7px rgba(0, 0, 0, .9),
        534520127.5em 736939277.5em 7px rgba(0, 0, 0, .9),
        3224055914.5em 6173708183.5em 7px rgba(0, 0, 0, .9),
        3011694764.5em 1613885069.5em 7px rgba(0, 0, 0, .9),
        5409622373.5em 2410180859.5em 7px rgba(0, 0, 0, .9);
    animation-duration: 44s;
    animation-delay: -27s;
}

body::after {
    text-shadow:
        4563790784.5em 1787916509.5em 7px rgba(0, 0, 0, .9),
        3355829207.5em 5857569161.5em 7px rgba(0, 0, 0, .9),
        2275246532.5em 6228119978.5em 7px rgba(0, 0, 0, .9),
        3355011515.5em 670626347.5em 7px rgba(0, 0, 0, .9),
        2051167073.5em 3791972987.5em 7px rgba(0, 0, 0, .9),
        1624965797.5em 3900937049.5em 7px rgba(0, 0, 0, .9),
        2157064382.5em 914802575.5em 7px rgba(0, 0, 0, .9),
        1177500677.5em 2103369335.5em 7px rgba(0, 0, 0, .9),
        2264427536.5em 3188849129.5em 7px rgba(0, 0, 0, .9),
        1051807190.5em 3698446778.5em 7px rgba(0, 0, 0, .9),
        1820065643.5em 2260391696.5em 7px rgba(0, 0, 0, .9),
        3422775125.5em 2589704213.5em 7px rgba(0, 0, 0, .9),
        516340277.5em 2678403632.5em 7px rgba(0, 0, 0, .9),
        4551658124.5em 536845346.5em 7px rgba(0, 0, 0, .9),
        5950384100.5em 4698888938.5em 7px rgba(0, 0, 0, .9),
        5793087140.5em 1155880715.5em 7px rgba(0, 0, 0, .9),
        4702668131.5em 4884347189.5em 7px rgba(0, 0, 0, .9),
        4448862191.5em 5612374850.5em 7px rgba(0, 0, 0, .9),
        5073255122.5em 3082308737.5em 7px rgba(0, 0, 0, .9),
        5375801390.5em 1572539186.5em 7px rgba(0, 0, 0, .9),
        4733934863.5em 1730937386.5em 7px rgba(0, 0, 0, .9),
        2526380165.5em 2746472018.5em 7px rgba(0, 0, 0, .9),
        3656338502.5em 5068076126.5em 7px rgba(0, 0, 0, .9),
        1786631774.5em 4492213088.5em 7px rgba(0, 0, 0, .9),
        756682121.5em 4168135691.5em 7px rgba(0, 0, 0, .9),
        3653464940.5em 563541590.5em 7px rgba(0, 0, 0, .9),
        6331397135.5em 1749488270.5em 7px rgba(0, 0, 0, .9),
        6116741300.5em 589918559.5em 7px rgba(0, 0, 0, .9),
        1084483907.5em 5519505353.5em 7px rgba(0, 0, 0, .9),
        208748654.5em 5496082973.5em 7px rgba(0, 0, 0, .9),
        3964883237.5em 4684307165.5em 7px rgba(0, 0, 0, .9),
        1889244851.5em 1066731494.5em 7px rgba(0, 0, 0, .9),
        628175348.5em 5688220058.5em 7px rgba(0, 0, 0, .9),
        6354712826.5em 4173837455.5em 7px rgba(0, 0, 0, .9),
        1050279053.5em 6111527681.5em 7px rgba(0, 0, 0, .9),
        3008386334.5em 478458395.5em 7px rgba(0, 0, 0, .9),
        3028069142.5em 4810885691.5em 7px rgba(0, 0, 0, .9),
        1778058020.5em 5362279826.5em 7px rgba(0, 0, 0, .9),
        604872215.5em 5008803239.5em 7px rgba(0, 0, 0, .9),
        2990646353.5em 5231704739.5em 7px rgba(0, 0, 0, .9),
        2696664905.5em 3743808584.5em 7px rgba(0, 0, 0, .9);
    animation-duration: 43s;
    animation-delay: -32s;
}

head::before {
    text-shadow:
        3879330581.5em 3498604130.5em 7px rgba(0, 0, 0, .9),
        5637930239.5em 3706469081.5em 7px rgba(0, 0, 0, .9),
        4061955182.5em 498664013.5em 7px rgba(0, 0, 0, .9),
        720684449.5em 5491102613.5em 7px rgba(0, 0, 0, .9),
        5167429523.5em 3846466682.5em 7px rgba(0, 0, 0, .9),
        6275142890.5em 2987454083.5em 7px rgba(0, 0, 0, .9),
        79446824.5em 6290517083.5em 7px rgba(0, 0, 0, .9),
        1217971430.5em 6396855533.5em 7px rgba(0, 0, 0, .9),
        5779526201.5em 3441906149.5em 7px rgba(0, 0, 0, .9),
        4296434024.5em 5944549610.5em 7px rgba(0, 0, 0, .9),
        3713068952.5em 6238489388.5em 7px rgba(0, 0, 0, .9),
        3092069039.5em 3067237436.5em 7px rgba(0, 0, 0, .9),
        245603009.5em 2966287979.5em 7px rgba(0, 0, 0, .9),
        3702853928.5em 5236011863.5em 7px rgba(0, 0, 0, .9),
        4679590931.5em 3556680419.5em 7px rgba(0, 0, 0, .9),
        2081101346.5em 1653313928.5em 7px rgba(0, 0, 0, .9),
        4140581144.5em 3085549487.5em 7px rgba(0, 0, 0, .9),
        1304478851.5em 4750336232.5em 7px rgba(0, 0, 0, .9),
        3743961947.5em 3717084953.5em 7px rgba(0, 0, 0, .9),
        2137738445.5em 5240170508.5em 7px rgba(0, 0, 0, .9),
        5338425557.5em 4594558562.5em 7px rgba(0, 0, 0, .9),
        4698686099.5em 1867563212.5em 7px rgba(0, 0, 0, .9),
        1704040043.5em 4325132171.5em 7px rgba(0, 0, 0, .9),
        3692860838.5em 4072129307.5em 7px rgba(0, 0, 0, .9),
        2328190415.5em 3776207534.5em 7px rgba(0, 0, 0, .9),
        5328324923.5em 5455082249.5em 7px rgba(0, 0, 0, .9),
        5957621201.5em 5229330209.5em 7px rgba(0, 0, 0, .9),
        85018439.5em 3062023430.5em 7px rgba(0, 0, 0, .9),
        5826212090.5em 4682091770.5em 7px rgba(0, 0, 0, .9),
        3294448562.5em 5347006280.5em 7px rgba(0, 0, 0, .9),
        5716110338.5em 4170946055.5em 7px rgba(0, 0, 0, .9),
        4927058423.5em 3962108528.5em 7px rgba(0, 0, 0, .9),
        2276406359.5em 1549716452.5em 7px rgba(0, 0, 0, .9),
        2581725335.5em 1109252924.5em 7px rgba(0, 0, 0, .9),
        4391713631.5em 3387872042.5em 7px rgba(0, 0, 0, .9),
        3332725721.5em 2862855686.5em 7px rgba(0, 0, 0, .9),
        878425493.5em 1330149167.5em 7px rgba(0, 0, 0, .9),
        4162840100.5em 2623573337.5em 7px rgba(0, 0, 0, .9),
        6408923948.5em 2996478299.5em 7px rgba(0, 0, 0, .9),
        4210716386.5em 4077932039.5em 7px rgba(0, 0, 0, .9),
        3269363804.5em 1089753233.5em 7px rgba(0, 0, 0, .9);
    animation-duration: 42s;
    animation-delay: -23s;
}

head::after {
    text-shadow:
        4692278264.5em 463737587.5em 7px rgba(0, 0, 0, .9),
        2599741931.5em 5889310523.5em 7px rgba(0, 0, 0, .9),
        5210410622.5em 4164785534.5em 7px rgba(0, 0, 0, .9),
        2742585452.5em 895212311.5em 7px rgba(0, 0, 0, .9),
        1236904679.5em 2492364062.5em 7px rgba(0, 0, 0, .9),
        1431237032.5em 3392543111.5em 7px rgba(0, 0, 0, .9),
        3952732067.5em 6004664327.5em 7px rgba(0, 0, 0, .9),
        266460050.5em 3263305772.5em 7px rgba(0, 0, 0, .9),
        5734678208.5em 97954880.5em 7px rgba(0, 0, 0, .9),
        4593846665.5em 3406887758.5em 7px rgba(0, 0, 0, .9),
        6213010769.5em 4463181905.5em 7px rgba(0, 0, 0, .9),
        4070356598.5em 4755080810.5em 7px rgba(0, 0, 0, .9),
        6101706188.5em 4428717068.5em 7px rgba(0, 0, 0, .9),
        712060694.5em 1129840664.5em 7px rgba(0, 0, 0, .9),
        431661809.5em 4331678588.5em 7px rgba(0, 0, 0, .9),
        2469631772.5em 878460320.5em 7px rgba(0, 0, 0, .9),
        4709355182.5em 899627159.5em 7px rgba(0, 0, 0, .9),
        4441019381.5em 1535566259.5em 7px rgba(0, 0, 0, .9),
        4123997930.5em 4722021005.5em 7px rgba(0, 0, 0, .9),
        2319748490.5em 285893846.5em 7px rgba(0, 0, 0, .9),
        4733186573.5em 4972668791.5em 7px rgba(0, 0, 0, .9),
        3475457066.5em 4451296475.5em 7px rgba(0, 0, 0, .9),
        3834495962.5em 6401244935.5em 7px rgba(0, 0, 0, .9),
        3752968451.5em 4207667366.5em 7px rgba(0, 0, 0, .9),
        1221722162.5em 6240407396.5em 7px rgba(0, 0, 0, .9),
        3542211497.5em 521288270.5em 7px rgba(0, 0, 0, .9),
        5081478494.5em 2444695865.5em 7px rgba(0, 0, 0, .9),
        5207484737.5em 794071667.5em 7px rgba(0, 0, 0, .9),
        6283415915.5em 5328699821.5em 7px rgba(0, 0, 0, .9),
        3065143991.5em 3938268062.5em 7px rgba(0, 0, 0, .9),
        6344737520.5em 4037368394.5em 7px rgba(0, 0, 0, .9),
        5349837473.5em 1800362873.5em 7px rgba(0, 0, 0, .9),
        5687697812.5em 731356871.5em 7px rgba(0, 0, 0, .9),
        3156582473.5em 4226961416.5em 7px rgba(0, 0, 0, .9),
        4100399867.5em 4082267468.5em 7px rgba(0, 0, 0, .9),
        3339794426.5em 6058457384.5em 7px rgba(0, 0, 0, .9),
        1395049058.5em 3403503620.5em 7px rgba(0, 0, 0, .9),
        4082662865.5em 456364187.5em 7px rgba(0, 0, 0, .9),
        197439599.5em 3487393574.5em 7px rgba(0, 0, 0, .9),
        4734461126.5em 2253671462.5em 7px rgba(0, 0, 0, .9),
        5404740383.5em 3598607840.5em 7px rgba(0, 0, 0, .9);
    animation-duration: 41s;
    animation-delay: -19s;
}

@keyframes move {
    from {
        transform: rotate(0deg) scale(12) translateX(-20px);
    }

    to {
        transform: rotate(360deg) scale(18) translateX(20px);
    }
}